@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: Calibri, helvetica, lucida grande;
	text-align: center;
	padding: 10%;
	clear: both;
}
p {
	font-family: Calibri;
	text-align: center;
	clear: both;
}
a {
	color: #000000;
	text-decoration: none;
	text-align: left;
	/* [disabled]display: block; */
	padding: 5%;
	margin: 5%;
	list-style-type: none;
}
li {
	display: block;
	list-style-type: none;
	/* [disabled]margin: 4%; */
	float: left;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 6%;
	width: 13%;
}
a:hover {
	background-color: #3B5681;
	color: #FCF9F3;
}
