@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: Calibri, helvetica, lucida grande;
	text-align: center;
	padding: 10%;
	clear: both;
}
p {
	font-family: Calibri;
	text-align: center;
	padding-top: 1%;
	padding-right: 10%;
	padding-left: 10%;
	clear: both;
	padding-bottom: 1%;
}
a {
	color: #000000;
	text-decoration: none;
	text-align: left;
	/* [disabled]display: block; */
	padding: 30%;
	margin: 5%;
	list-style-type: none;
}

li {
	display: block;
	list-style-type: none;
	margin-top: 4%;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 6%;
	width: 13%;
	float: left;
	font-family: Calibri;
}
a:hover {
	background-color: #3B5681;
	color: #FCF9F3;
}
a:active {
	background-color:#74A3F7;
}
li:active {
	background-color:#74A3F7;
}