@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: Calibri, helvetica, lucida grande;
	text-align: center;
	padding: 10%;
}
p {
	font-family: Calibri;
	text-align: center;
}
a {
	color: #000000;
	text-decoration: none;
	text-align: justify;
	display: block;
	padding: 2%;
	margin: 1%;
	list-style-type: none;
}
li {
	display: inline;
	list-style-type: none;
}
a:hover {
	background-color: #3B5681;
	color: #FCF9F3;
}
